*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

body {
    background-color: #252525;
    color: white;
}

.logo {
    font-weight: 700;
    
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}